<div mat-dialog-title>
  {{ data.name }}

</div>

<mat-dialog-content class="mat-typography">

  <div class="container view-con">
    <h1 class="center">Menu</h1>

    <a href="#" routerLink="/product/index" class="btn btn-primary">Back</a>

    <div>
      <strong>ID:</strong>
      <p>{{ data.id }}</p>
    </div>

    <div>
      <strong>Name:</strong>
      <p>{{ data.name }}</p>
    </div>

    <div>
      <strong>Type:</strong>
      <p>{{ data.type }}</p>
    </div>

    <div>
      <strong>Small Price:</strong>
      <p>{{ data.small_price }}</p>
    </div>

    <div>
      <strong>Medium Price:</strong>
      <p>{{ data.medium_price }}</p>
    </div>

    <div>
      <strong>Large Price:</strong>
      <p>{{ data.large_price }}</p>
    </div>

    <div>
      <strong>Revenue</strong>
      <p>{{ data.revenue }}</p>
    </div>

    <div>
      <strong>Total Sold Items</strong>
      <p>{{ data.total_items_sold }}</p>
    </div>

  </div>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
