<!-- WHY TRANZ-SYNC -->
<div class="why-tranzsync" style="background-color: #F4F4F4; padding-left: 120px; padding-right: 100px; padding-top: 90px;">
  <div class="row d-flex align-items-stretch justify-content-center">
    <div class="col">
      <span style="font-family: 'Racing Sans One', sans-serif; color: #231F20;">Why <span style="color: red;">TRANZ</span>-SYNC?</span>
    </div>
  </div>

  <div class="row d-flex align-items-stretch">
    <div class="col-1 text-center" style="font-family: 'Poppins', sans-serif; color: #231F20;">
      <h1 class="border-bottom fw-bold fs-1">1</h1>
      <h1 class="border-bottom fw-bold fs-1">2</h1>
      <h1 class="border-bottom fw-bold fs-1">3</h1>
      <h1 class="border-bottom fw-bold fs-1">4</h1>
      <h1 class="fw-bold fs-1">5</h1>
    </div>

    <div class="col-6" style="font-family: 'Poppins', sans-serif; color: #231F20;">
      <h1 class="border-bottom fw-bold fs-2">Enhanced Operational Efficiency</h1>
      <h1 class="border-bottom fw-bold fs-2">Improved Transparency</h1>
      <h1 class="border-bottom fw-bold fs-2">Cost Optimization</h1>
      <h1 class="border-bottom fw-bold fs-2">Increased User Satisfaction</h1>
      <h1 class="fw-bold fs-2">Competitive Edge</h1>
    </div>

    <div class="col-5" style="font-family: 'Poppins', sans-serif; color: #231F20;">
      <p class="border-bottom fw-normal fs-4">Streamlined logistics operations through automated processes and efficient parcel management.</p>
      <p class="border-bottom fw-normal fs-4">Comprehensive information portal providing stakeholders with real-time visibility into logistics product details and rates.</p>
      <p class="border-bottom fw-normal fs-4">Automation and optimization of logistics processes leading to cost-effective operations.</p>
      <p class="border-bottom fw-normal fs-4">Introduction of a print receipt feature for users, enhancing their experience and building trust in the logistics system.</p>
      <p class="fw-normal fs-4">Adoption of cutting-edge technology positions the business ahead of competitors by offering innovative solutions.</p>
    </div>
  </div>
</div>
