<!--sales.modal.component.html-->
<mat-dialog-content class="mat-typography p-5" id="content-to-print">
  <h2>Transaction Details</h2>
  <table  class="mat-elevation-z8 mb-3">

    <!-- Columns defined here -->
    <ng-container matColumnDef="itemName">
      <th mat-header-cell class="bg-dark text-white" *matHeaderCellDef> Coffee Name </th>
      <td mat-cell *matCellDef="let element"> {{element.product.name}} <br>
       <span class="text-sm-start text-light-emphasis" style="font-size: 12px">
         x  {{element.quantity}}
       </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="size">
      <th mat-header-cell  class="bg-dark text-white" *matHeaderCellDef> Size </th>
      <td mat-cell *matCellDef="let element"> {{element.size}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell class="bg-dark text-white" *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.size === 'Small'"> {{element.product.small_price | currency:'PHP'}} </ng-container>
        <ng-container *ngIf="element.size === 'Medium'"> {{element.product.medium_price | currency:'PHP'}} </ng-container>
        <ng-container *ngIf="element.size === 'Large'"> {{element.product.large_price | currency:'PHP'}} </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="subtotal">
      <th mat-header-cell  class="bg-dark text-white" *matHeaderCellDef> Subtotal </th>
      <td mat-cell *matCellDef="let element"> {{element.subtotal | currency:'PHP'}} </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>



  <!-- Transaction Summary -->
  <div class="transaction-summary mt-5">
    <div><strong>Date:</strong> {{ data.transactionDate | date:'MMMM d, y hh:mm a' }}</div>

    <div><strong>Customer Name:</strong> {{ data.customer_name }}</div>
    <div><strong>Total:</strong> Php {{ data.total }}</div>
    <div><strong>Cash:</strong> Php {{ data.cash }}</div>
    <div><strong>Change:</strong> Php {{ data.change_amount }}</div>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="printContent()">Print</button>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
