.transaction-summary {
  margin-top: 20px;
}

.transaction-summary > div {
  margin-bottom: 10px;
}

th{
  background-color: #100f0f;
}


@media print {
  mat-dialog-actions {
    display: none;
  }
  /* Add more styles as needed for printing */
}
