<!-- HEADER -->
<nav class="navbar navbar-light" style="background-color: #231f20; height: 100px; padding-left: 120px; padding-top: 0; padding-bottom: 0;">
    <a class="navbar-brand" href="#" style="height: 100%;">
        <img src="/assets/nav_logo.svg" width="auto" height="80px" alt="" style="max-height: 100%;"/>
    </a>
    <div class="nav" style="padding-right: 100px; display: flex; justify-content: space-between;">
        <li class="nav-item" style="margin-right: 10px;">
            <a class="nav-link fs-5 text-white fw-bold" style="font-family: 'Open Sans', sans-serif;" href="/home">Home</a>
        </li>
        <li class="nav-item" style="margin-right: 10px;">
            <a class="nav-link fs-5 text-white fw-bold" style="font-family: 'Open Sans', sans-serif;" href="/home/#about_us">About Us</a>
        </li>
        <li class="nav-item" style="margin-right: 10px;">
            <a class="nav-link fs-5 text-white fw-bold" style="font-family: 'Open Sans', sans-serif;" href="/home/#contact_us">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fs-5 fw-bold demo-link" style="width: 150px; font-family: 'Open Sans', sans-serif; background-color: #F1B15E; border-radius: 10px; padding: 8px 15px; text-align: center; text-decoration: none; color: #231f20; " href="/user">Demo</a>
        </li>
    </div>
</nav>

<!-- BANNER -->

<div class="banner">

    <div class="banner-content align-items-center justify-content-center">
        <h1 class="tagline ">Streamlining Every Sip with Javacinno!</h1>
        <a href="#" class="btn fs-2">Get Started</a>
    </div>
</div>

<!-- SYSTEM FEATURES -->
<div class="why-javacinno" style="background-color: #f6f1ee; padding-left: 200px; padding-right: 200px; padding-top: 150px; padding-bottom: 100px; ">
    <div class="row d-flex align-items-stretch justify-content-center" style="margin-bottom: 50px;">
      <div class="col">
        <span class="" style="font-family: 'League Gothic', sans-serif; color: #231F20; font-size: 125px ;">System Features of <span style="color: #F1B15E;">Javacinno</span></span>
      </div>
    </div>
    
    <div class="row d-flex align-items-stretch justify-content-center" style="margin-top: 10px;">
      <div class="col-1 text-center" style="font-family: 'Open Sans', sans-serif; color: #231F20; padding: 10px;">
        <p class="fw-bold fs-2 row-items" >1</p>
        <p class="fw-bold fs-2 row-items" >2</p>
        <p class="fw-bold fs-2 row-items" >3</p>  
        <p class="fw-bold fs-2 row-items" >4</p>
        <p class="fw-bold fs-2 row-items" >5</p>
      </div>
      
      <div class="col-5 align-items-center" style="font-family: 'Open Sans', sans-serif; color: #231F20; padding: 10px;">
        <p class="fw-bold fs-2 row-items" >Inventory Management</p>
        <p class="fw-bold fs-2 row-items" >Cashier System</p>
        <p class="fw-bold fs-2 row-items" >Dashboard</p>
        <p class="fw-bold fs-2 row-items" >Point of Sale (POS) System</p>
        <p class="fw-bold fs-2 row-items" >Queuing System</p>
      </div>
      
      <div class="col-6" style="font-family: 'Open Sans', sans-serif; color: #231F20;">
        <p class="fw-normal fs-4 row-items" >This feature includes a detailed product catalog, real-time stock level tracking, and supplier management. It offers comprehensive inventory analytics and efficient waste tracking to optimize stock control.</p>
        <p class="fw-normal fs-4 row-items" >The system facilitates smooth sales transactions with a user-friendly interface, supports multiple payment methods, and efficiently manages discounts, loyalty programs, and refunds.</p>
        <p class="fw-normal fs-4 row-items" >A real-time data dashboard provides key performance metrics, inventory status, and employee performance insights, all customizable to suit management needs.</p>
        <p class="fw-normal fs-4 row-items" >This intuitive POS system enables quick order processing, including customization options, integrated payment processing, order history access, and table management for seated areas.</p>
        <p class="fw-normal fs-4 row-items" >The digital queuing system improves customer flow with wait time estimates, order status updates, remote queue joining via a mobile app, and self-service kiosks.</p>
      </div>
    </div>
  </div>

  <!-- ABOUT US  -->
  <div id="about_us" class="about-caffeine-corders" style="background-color: #2f2721; padding-left: 200px; padding-right: 200px; padding-top: 150px; padding-bottom: 100px; ">
    <div class="row d-flex align-items-stretch justify-content-center" style="margin-bottom: 50px;">
      <div class="col">
        <span style="font-family: 'League Gothic', sans-serif; color: #FFFFFF; font-size: 125px;">About <span style="color: #F1B15E;">Caffeine Coders</span></span>
      </div>
    </div>
    <div class="row d-flex align-items-stretch justify-content-center" style="margin-bottom: 50px;">
      <div class="col " style="font-family: 'Open Sans', sans-serif">
        <p class="" style="color: #f6f1ee; font-size: 25px; line-height: 1.5;">Javaccino Developers is made up of young programmers with varied backgrounds in computer courses from different universities, bound together by a shared enthusiasm for Java Programming. Together, we work hand in hand to create and improve solutions, placing special emphasis on the refinement of coffee shop point-of-sale systems and the incorporation of receipt system. Javaccino developers are brewing codes, ideas and solutions.</p>
      </div>
    </div>

    <div class="row d-flex align-items-center justify-content-center" >
        <!-- First Row -->
        <div class="col-4 text-center d-flex justify-content-center"  style="font-family: 'Open Sans', sans-serif; color: #FFFFFF;">
          <div class="card" style="width: 300px;  margin-bottom: 40px;">
            <div style="width: 100%; height: 250px; overflow: hidden;">
                <img src="./assets/thirdy.jpg" class="card-img-top" alt="Developer Image" style="height: 100%; width: auto; object-fit: fill;">
              </div>
            <div class="card-body">
              <h5 class="card-title fw-bold" style="font-size: 20px;">Jose Gayares III</h5>
              <h6 class="card-subtitle mb-2 text-muted" style="font-size: 12px;" >Backend Developer || Tester</h6>
            
            </div>
          </div>
        </div>  
      
        <div class="col-4 text-center d-flex justify-content-center" style="font-family: 'Open Sans', sans-serif; color: #FFFFFF; ">
          <div class="card" style="width: 300px; margin-bottom: 40px;">
            <div style="width: 100%; height: 250px; overflow: hidden;">
                <img src="./assets/mark.jpg" class="card-img-top" alt="Developer Image" style="height: 100%; width: auto; object-fit: cover;">
              </div>
            <div class="card-body">
              <h5 class="card-title fw-bold" style="font-size: 20px;">Angelo Velasco</h5>
              <h6 class="card-subtitle mb-2 text-muted" style="font-size: 12px;">Frontend Developer || Video Editor</h6>
              
            </div>
          </div>
        </div>
        
      
        <div class="col-4 text-center d-flex justify-content-center" style="font-family: 'Open Sans', sans-serif; color: #FFFFFF;">
          <div class="card" style="width: 300px; margin-bottom: 40px;">
            <div style="width: 100%; height: 250px; overflow: hidden;">
                <img src="./assets/howard.png" class="card-img-top" alt="Developer Image" style="height: 100%; width: auto; object-fit: cover;">
              </div>
            <div class="card-body">
              <h5 class="card-title fw-bold" style="font-size: 20px; ">Howard Bayquen</h5>
              <h6 class="card-subtitle mb-2 text-muted" style="font-size: 12px;">Frontend Developer || Researcher</h6>
              
            </div>
          </div>
        </div>
        <div class="col-4 text-center d-flex justify-content-center" style="font-family: 'Open Sans', sans-serif; color: #FFFFFF;">
            <div class="card" style="width: 300px; margin-bottom: 40px;">
                <div style="width: 100%; height: 250px; overflow: hidden;">
                    <img src="./assets/dave.jpg" class="card-img-top" alt="Developer Image" style="height: 100%; width: auto; object-fit: cover;">
                  </div>
              <div class="card-body">
                <h5 class="card-title fw-bold" style="font-size: 20px;">Dave</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="font-size: 12px;">Frontend Developer || </h6>
                
              </div>
            </div>
          </div>

          <div class="col-4 text-center d-flex justify-content-center" style="font-family: 'Open Sans', sans-serif; color: #FFFFFF;">
            <div class="card" style="width: 300px; margin-bottom: 40px;">
                <div style="width: 100%; height: 250px; overflow: hidden;">
                    <img src="./assets/carl.jpg" class="card-img-top" alt="Developer Image" style="height: 100%; width: auto; object-fit: cover;">
                  </div>
              <div class="card-body">
                <h5 class="card-title fw-bold" style="font-size: 20px;">Carl</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="font-size: 12px;">Frontend Developer</h6>
                
              </div>
            </div>
          </div>


<!-- FOOTER -->
<!-- Footer HTML -->
<div>
    <footer style="background-color: #FFFFFF; color: #2f2721; text-align: center; justify-content: center;">
        <div>Created by Dev Ninjas. All Rights Reserved</div>
        <img src="./assets/horizontal_main_logo.svg" alt="Caffeine Ninjas Logo" style="width: 100px; margin-top: 10px;">
    </footer>
</div>
