<div>
  <div class="nav">
    <img src="./../assets/brew2.png" class="logo">
    <h1 class="navName">Javacinno</h1>
  </div>

  <div class="container-fluid index-container p-3 mt-4">
    <div class="row">
      <div class="col-md-12">
        <button (click)="addCashier()"  class="btn btn-success newCategory">
          <i class="fa-solid fa-plus"></i>
          Add Cashier</button>
        <table>
          <thead class="dark-header" >
          <tr class="header">
            <th class="padded-first-column">ID</th>
            <th>Username</th>
            <th>Full Name</th>
            <th>Password</th>
          </tr>
          </thead>

          <tbody class="transparent-body">
          <tr *ngFor="let cashiers of cashier" class="text-white content">
            <th scope="row" class="padded-first-column">{{cashiers.id}}</th>
            <td>{{cashiers.user_name }}</td>
            <td>{{cashiers.full_name}}</td>
            <td>{{cashiers.password }}</td>
          </tr>
          </tbody>

        </table>
      </div>

    </div>

  </div>

</div>









