<div class="background-img">
  <mat-dialog-content class="mat-typography background-primary">
    <h1 class="center">Update Product</h1>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-row">
        <mat-form-field class="half-width">
          <mat-label>Name:</mat-label>
          <input matInput formControlName="name">
          <mat-error *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
            <span *ngIf="form.get('name')?.errors?.['required']">Name is required.</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="half-width">
          <mat-label>Type:</mat-label>
          <input matInput formControlName="type">
          <mat-error *ngIf="form.get('type')?.touched && form.get('type')?.invalid">
            <span *ngIf="form.get('type')?.errors?.['required']">Type is required.</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field class="third-width">
          <mat-label>Small Price:</mat-label>
          <input matInput formControlName="small_price" type="number">
          <mat-error *ngIf="form.get('small_price')?.touched && form.get('small_price')?.invalid">
            <span *ngIf="form.get('small_price')?.errors?.['required']">Small Price is required.</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="third-width">
          <mat-label>Medium Price:</mat-label>
          <input matInput formControlName="medium_price" type="number">
          <mat-error *ngIf="form.get('medium_price')?.touched && form.get('medium_price')?.invalid">
            <span *ngIf="form.get('medium_price')?.errors?.['required']">Medium Price is required.</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="third-width">
          <mat-label>Large Price:</mat-label>
          <input matInput formControlName="large_price" type="number">
          <mat-error *ngIf="form.get('large_price')?.touched && form.get('large_price')?.invalid">
            <span *ngIf="form.get('large_price')?.errors?.['required']">Large Price is required.</span>
          </mat-error>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" class="btn btn-primary">
        Update
      </button>
    </form>
  </mat-dialog-content>
</div>
