<div>
  <div class="nav">
    <img src="./../assets/brew2.png" class="logo">
    <h1 class="navName">Javacinno</h1>
</div>

  <div class="container-fluid index-container p-3 mt-4">
    <div class="row">
      <div class="col-md-12">
        <table>
          <thead class="dark-header" >
          <tr class="header">
            <th class="padded-first-column">Transaction Id</th>
            <th>Date</th>
            <th>Time</th>
            <th>Cashier</th>
            <th>Customer Name</th>
            <th>Time Served</th>
            <th>Total</th>

          </tr>
          </thead>

          <tbody class="transparent-body">
          <tr *ngFor="let dashboardModel of dashboard" class="text-white content" (click)="viewTransactions(dashboardModel.id)">
            <th scope="row">{{dashboardModel.id}}</th>
            <td>{{ dashboardModel.transactionDate | date:'MMMM d, y' }}</td>
            <td>{{ dashboardModel.transactionDate | date:'shortTime' }}</td>
            <td>{{dashboardModel.cashier.full_name}}</td>
            <td>{{dashboardModel.customer_name}}</td>
            <td>{{dashboardModel.time_served}}</td>
            <td>Php {{dashboardModel.total}}</td>
          </tr>
          </tbody>

        </table>
      </div>

    </div>

  </div>

</div>









