<body>

<div>
  <div class="nav">
    <img src="./../assets/brew2.png" class="logo">
    <h1 class="navName">Javacinno</h1>
  </div>

  <div class="container-fluid index-container p-3 mt-4">
    <div class="row">
      <div class="col-md-12">
        <table>
          <thead class="dark-header" >
          <tr class="header">
            <th class="padded-first-column">Transaction Id</th>
            <th>Customer Name</th>
            <th>Time Transact</th>
            <th>Time</th>
            <th>Action</th>
            

          </tr>
          </thead>

          <tbody class="transparent-body">
          <tr *ngFor="let example of " class="text-white content">
            <th scope="row">Harcode</th>
            <td>Harcode</td>
            <td>Harcode</td>
            <td>Harcode</td>
            <td>
              <button type="button" style=" margin-right: 20px;" class="btn btn-primary">View Order</button> 
            
              <button type="button" class="btn btn-success">Done</button>
            </td>
           
          </tr>
          
          </tbody>

        </table>
      </div>

    </div>

  </div>

</div>


</body>







